{% extends 'application/index.html' %}
{% load static %}
<!DOCTYPE html>

{% block head %}
    <header class="header--form-page">
        {% include 'application/nav.html' %}
        <div class="slogan container container--90">
            <h2>
                Thank you for submitting the form.<br> We will send you all information about the collection by e-mail.
            </h2>
        </div>
    </header>
{% endblock %}

{% include 'application/footer.html' %}

<script src="{% static 'js/app.js' %}"></script>
