{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Donation site</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
{% block nav %}
    <header class="header--main-page">
        <nav class="container container--70">
            {% if user.is_authenticated %}
                <ul class="nav--actions">
                    <li class="logged-user">
                        Hello {{ user.first_name }}
                        <ul class="dropdown">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">My donation</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav--actions">
                    <li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Login</a></li>
                    <li><a href="{% url 'register' %}" class="btn btn--small btn--highlighted">Create an account</a>
                    </li>
                </ul>
            {% endif %}


            <ul>
                <li><a href="{% url 'index' %}" class="btn btn--without-border active">Start</a></li>
                <li><a href="#steps" class="btn btn--without-border">How it works?</a></li>
                <li><a href="#about-us" class="btn btn--without-border">About us</a></li>
                <li><a href="#help" class="btn btn--without-border">Foundations and organisations</a></li>
                <li><a href="{% url 'add_donation' %}" class="btn btn--without-border">Donate now!</a></li>
                <li><a href="#contact" class="btn btn--without-border">Contact</a></li>
            </ul>
        </nav>

        <div class="slogan container container--90">
            <div class="slogan--item">
                <h1>
                    Start helping right now!<br/>
                    Give back unwanted stuff<br> to those who need it.
                </h1>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section id="stats" class="stats">
        <div class="container container--85">
            <div class="stats--item">
                <em>{{ bags }}</em>
                <h3>Kilograms donated</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum
                    tempora!</p>
            </div>

            <div class="stats--item">
                <em>{{ organizations }}</em>
                <h3>Supported organisations</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate
                    quas quam.</p>
            </div>

        </div>
    </section>

    <section id="steps" class="steps">
        <h2>Donate in 4 easy steps!</h2>

        <div class="steps--container">
            <div class="steps--item">
                <span class="icon icon--hands"></span>
                <h3>Choose stuff</h3>
                <p>Clothes, toys, etc.</p>
            </div>
            <div class="steps--item">
                <span class="icon icon--arrow"></span>
                <h3>Pack them</h3>
                <p>Pack things for donation</p>
            </div>
            <div class="steps--item">
                <span class="icon icon--glasses"></span>
                <h3>Choose organisations</h3>
                <p>Choose trusted place</p>
            </div>
            <div class="steps--item">
                <span class="icon icon--courier"></span>
                <h3>Order a courier</h3>
                <p>Things will be picked up<br> for you at time that suits you</p>
            </div>
        </div>
        {% if user.is_authenticated %}
        {% else %}
            <a href="{% url 'register' %}" class="btn btn--large">Create an account</a>
        {% endif %}
    </section>

    <section id="about-us" class="about-us">
        <div class="about-us--text">
            <h2>About us!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt
                libero optio esse quisquam illo omnis.</p>
            <img src="{% static 'images/signature.svg' %}" class="about-us--text-signature" alt="Signature"/>
        </div>
        <div class="about-us--image"><img src="{% static 'images/about-us.jpg' %}" alt="People in circle"/></div>
    </section>

    <section id="help" class="help">
        <h2>Who we help?</h2>

        <ul class="help--buttons">
            <li data-id="1"><a href="#" class="btn btn--without-border active">Foundations</a></li>
            <li data-id="2"><a href="#" class="btn btn--without-border">Non-governmental organization</a></li>
            <li data-id="3"><a href="#" class="btn btn--without-border">Local collections</a></li>
        </ul>

        <!-- SLIDE 1 -->
        <div class="help--slides active" data-id="1">
            <p>In our database you will find a list of verified foundations with which we cooperate. You can check what
                they do, who they help and what they need.</p>

            <ul class="help--slides-items">
                {% for fundation in foundations %}
                    <li>
                        <div class="col">
                            <div class="title">{{ fundation.name }}</div>
                            <div class="subtitle">{{ fundation.description }}</div>
                        </div>

                        <div class="col">
                            <div class="text">
                                {% for category in fundation.categories.all %}
                                    <span>{{ category }}, </span>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
            <!-- Pagination
            <ul class="help--slides-pagination">
              <li><a href="#" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
              <li><a href="#" class="btn btn--small btn--without-border" data-page="2">2</a></li>
              <li><a href="#" class="btn btn--small btn--without-border" data-page="3">3</a></li>
            </ul>
            -->
        </div>


        <!-- SLIDE 2 -->
        <div class="help--slides" data-id="2">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic officiis mollitia dolor, neque aspernatur
                accusamus debitis. Ducimus, officia. Quia, sunt illum!
            </p>
            <ul class="help--slides-items">
                {% for ngo in non_gov_orgs %}
                    <li>
                        <div class="col">
                            <div class="title">{{ ngo.name }}</div>
                            <div class="subtitle">{{ ngo.description }}.</div>
                        </div>

                        <div class="col">
                            <div class="text">
                                {% for category in ngo.categories.all %}
                                    <span>{{ category }}, </span>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                {% endfor %}


            </ul>

            <!-- Pagination
            <ul class="help--slides-pagination">
              <li><a href="#" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
              <li><a href="#" class="btn btn--small btn--without-border" data-page="2">2</a></li>
              <li><a href="#" class="btn btn--small btn--without-border" data-page="3">3</a></li>
              <li><a href="#" class="btn btn--small btn--without-border" data-page="4">4</a></li>
              <li><a href="#" class="btn btn--small btn--without-border" data-page="5">5</a></li>
            </ul>
            -->
        </div>

        <!-- SLIDE 3 -->
        <div class="help--slides" data-id="3">
            <p>Lorem ipsum dolor sit amet, his ocurreret persequeris ea, ad utinam laudem duo. Verterem adipisci
                partiendo eos ne, ea his reque quaeque recteque, ne quo lobortis intellegam.</p>
            <ul class="help--slides-items">
                {% for local in local_collections %}
                    <li>
                        <div class="col">
                            <div class="title">{{ local.name }}</div>
                            <div class="subtitle">{{ local.description }}</div>
                        </div>

                        <div class="col">
                            <div class="text">
                                {% for category in local.categories.all %}
                                    <span>{{ category }}, </span>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>

            <!-- Pagination
            <ul class="help--slides-pagination">
              <li><a href="#" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
              <li><a href="#" class="btn btn--small btn--without-border" data-page="2">2</a></li>
            </ul>
            -->
        </div>
    </section>
{% endblock %}


<footer>
    <div id="contact" class="contact">
        <h2>Contact with us!</h2>
        <h3>Contact form</h3>
        <form class="form--contact">
            <div class="form-group form-group--50">
                <input type="text" name="name" placeholder="First name"/>
            </div>
            <div class="form-group form-group--50">
                <input type="text" name="surname" placeholder="Last name"/>
            </div>

            <div class="form-group">
            <textarea
                    name="message"
                    placeholder="Your message"
                    rows="1"
            ></textarea>
            </div>

            <button class="btn" type="submit">Send</button>
        </form>
    </div>
    <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2023</span>
        <div class="bottom-line--icons">
            <a href="#" class="btn btn--small"><img src="{% static 'images/icon-facebook.svg' %}"/></a>
            <a href="#" class="btn btn--small"><img src="{% static 'images/icon-instagram.svg' %}"/></a>
        </div>
    </div>
</footer>

<script src="{% static 'js/app.js' %}"></script>


</body>
</html>
