{% extends 'application/index.html' %}
{% load static %}

{% block head %}
    <header>
        {% include 'application/nav.html' %}
    </header>
{% endblock %}

{% block content %}
    <section class="login-page">
        <h2>Create an account!!</h2>
        <form method="post">{% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field }}
                {% for error in field.errors %}
                    <p class="error" style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="form-group form-group--buttons">
                <button class="btn" type="submit">Create!</button>
                <a href="login.html" class="btn btn--without-border">Login</a>
            </div>
        </form>
    </section>
{% endblock %}

{% include 'application/footer.html' %}

<script src="{% static 'js/app.js' %}"></script>

